
.maincard{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
    border-radius: 5%;
    width: 100%;
    background-color: #181717;
    border-color: white;
    border-style: solid;
    border-radius: 5rem;
    box-shadow: 5px 5px 10px  whitesmoke;
    position: relative;
}

.line {
    position: relative;
    max-width: 80%;
    margin: 0 0 0 10%;
  }

  .line::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    margin-left: -3px;
  }

  .Component {
    position: relative;
    background-color: inherit;
    width: 100%;
  }
  .Component::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: #fff;
    top: 18px;
    border-radius: 50%;
    z-index: 1;
  }
  .right-5 {
    padding: 0px 0px 20px 4px;
    left: auto;
  }
  
  
  /* Fix the circle for containers on the right side */
  .right-5::after {
    left: -10px;
  }
  .p-3{
    color: white;
  }

  .content{
    margin-left: 7%;
    color: rgb(207, 193, 193);
  }
.row{
  width: 98%;
}



.card {
  margin-left: 3rem;
  margin-top: 10rem;
  align-items: center;
  border-radius: 0.25rem;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 32rem;
  justify-content: center;
  position: relative;
  width: 100%;
}

.ball {
  background-color: white;
  border-radius: 50%;
  height: 5rem;
  position: absolute;
  width: 5rem;
}
.ball-bouncing {
  background-color: black;
}

.ball-bouncing::before {
  animation: shadowBouncing 1.2s ease-in infinite;
  background-color: rgb(248, 243, 243);
  border-radius: 1rem;
  bottom: 2rem;
  content: '';
  height: 0.15rem;
  position: absolute;
  width: 2rem;
}

.ball-bouncing .ball {
  animation: ballBouncing 1.2s ease-in infinite;
  bottom: 2.1rem;
  transform-origin: bottom;
}

@keyframes ballBouncing {
  0%,
  100% {
    transform: scale(1.5, 0.5);
  }
  20% {
    transform: scaleY(1.2);
  }
  40%,
  80% {
    transform: translateY(-14rem);
  }
  70% {
    transform: translateY(-15rem);
  }
  90% {
    transform: translateY(0);
  }
}

@keyframes shadowBouncing {
  0%,
  100% {
    transform: scale(2, 1);
  }
  20% {
    transform: scale(1.2, 0.8);
  }
  40%,
  80% {
    transform: scale(0.5, 0.2);
  }
  70% {
    transform: scale(0.5, 0.15);
  }
  90% {
    transform: scale(1.5, 0.6);
  }
}