.counter-box {
    color: #fff;
    text-align: center;
  }
  
  @media (min-width: 577px) {
    .counter-box {
      margin-bottom: 1.8rem;
    }
  }
  
  .counter-ico {
    margin-bottom: 1rem;
  }
  
  .counter-ico .ico-circle {
    height: 105px;
    width: 105px;
    line-height: 2.7;
    box-shadow: 0 0 0 10px #cde1f8;
  }
  
  .counter-num .counter {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .edu{
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 600;
  }
  .counter-text{
    font-weight: 500;
  }